################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projects/.vs

/Project/.vs/MMT-RC
/Project/x64/Debug/MMT-RC.exe
/Project/x64/Debug/MMT-RC.tlog/CL.command.1.tlog
